@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins";

//===================================================================
//  APP-HEADER
//===================================================================


.header{
  float: left;
  padding-left: 25px;
  margin-left: 60px;
  padding-top: 15px;
  height: 75px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  z-index: 99999999999999;
  position: relative;
}

.header img {
  float:left;
}

.header h1 {
  padding-top: 8px;
  font-size: 24px;
  font-weight: 400;
  padding-left: 8px;
  float:left;
}


.header.languages{

  height: 100px;
  margin-top: -25px;
  background: #3e5e85;
  margin-left: 60px;
  z-index:9999;
}

.header.languages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header.languages ul li{
  float:left;
  margin-left: 15px;
  text-align: center;
}

.header.languages ul li a {
  display: block;
  padding:5px;
  margin-right: 30px;
  cursor: pointer;
}

.header.languages ul li a .icone{
  height:45px;
}

.header.languages ul li a img {
  float: none;
  text-align: center;
}

.header.languages ul li span{
  display: block;
  color: white;
  margin-top: 3px;
}


.header.languages .btn-close {
  padding-top: 10px;
}

.header.languages .btn-close img{
  float:right;
  width:50px;
}

.sidebar {
  width: 60px;
  float: left;
  position: fixed;
  height: 100%;
  background: #434343;
  display: block;
  text-align: center;
}



.sidebar .logo {
  width: 52px;
  margin-top: 10px;
  text-align: center;
  color: #e7e7e7;
  font-weight: 900;
  line-height: 40px;
  border-bottom: 2px solid #e7e7e7;
  margin-left: 4px;
}


.sidebar .icon-search {
  margin-top: 25px;
  width:60px;
  cursor: pointer !important;

}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  cursor: pointer !important;
  text-align: center;
  width:60px;
  margin-bottom: 20px;
}

.sidebar ul li img {
  width:40px;
}


.sidebar .icon-user{
  position: absolute;
  bottom: 20px;
  width: 60px;

}

.sidebar .icon-user img {
  width:35px;

}

.sidebar .icon-search img {
  cursor:pointer;
}

.sidebar .modal-content {
  border-radius: 15px;
}

.form-search {
  padding: 5px;
}

.input-search {
  width:90%;
  padding: 13px;
  border:none;
}

.btn-search {
  background: none;
  border:none;
  border-left: 1px solid #DEDDDD;
  float:right;
  width:10%;
  height: 60px;
  margin-top: -5px;
}

.btn-search i {
  font-size:24px;
}


