<sidebar class="sidebar"  *ngIf="authenticated">

    <h1 class="logo">
       <a href="/home" [routerLink]=" ['Home'] ">
           <img src="assets/images/logo.png"  width="50"/>
       </a>
    </h1>

    <div class="search" (click)="modal.open()"></div>

    <ul *ngIf="language">
        <li>
            <a class="header__link" (click)="modal.open()">
                <img src="assets/images/icon-search.png" />
            </a>
        </li>
        <li>
            <a class="header__link" [routerLink]=" ['Home'] ">
                <img src="assets/images/icon-home.png" />
            </a>
        </li>
        <li>
            <a class="header__link" [routerLink]=" ['Videos'] ">
                <img src="assets/images/icon-video.png" />
            </a>
        </li>
        <li >
            <a class="header__link" [routerLink]=" ['Repository'] ">
                <img src="assets/images/icon-box.png" />
            </a>
        </li>
        <li >
            <a class="header__link" [routerLink]=" ['Users'] ">
                <img src="assets/images/icon-person.png" />
            </a>
        </li>


    </ul>


    <div  class="icon-user" *ngIf="user">
        <a class="header__link border-link" (click)="signOut.emit()" href="#">
            <img class="img-circle" src="{{user.github.cachedUserProfile.avatar_url}}" />
        </a>
    </div>

    <modal (onClose)="closed(q)" #modal>
        <form class="form-search">
            <input class="input-search" autofocus  type="text" name="q" [(ngModel)]="q"  placeholder="Search Language" />
            <button type="submit" class="btn-search"  (click)="modal.close(q)" ><i class="octicon octicon-search" ></i></button>
        </form>
    </modal>
</sidebar>

<div class="header" *ngIf="header">
    <h2 *ngIf="q"> {{q}} </h2>
</div>
