<app-header [authenticated]="auth.authenticated" [subHeader]="subHeader" (signOut)="signOut()"></app-header>

<div class="repository repo-description container-fluid">
    <div class=" col-md-12">
        <div class="repo-about col-md-12 col-xl-12" *ngIf="channel">
            <img class="img-circle" src="{{channel.thumbnails.default.url}}"/>
            <h1>{{channel.title}}</h1>
            <p> {{channel.description}}</p>
        </div>


        <div class="clearfix"></div>

        <div class="repo-box">
            <div class="repo-readme  col-xl-8" *ngIf="videoSelected">
                <iframe width="100%" height="450" src="https://www.youtube.com/embed/{{videoSelected.id.videoId}}"
                        frameborder="0" allowfullscreen></iframe>
                <div class="clearfix"></div>
                <h1 class="video-title">{{videoSelected.snippet.title}}</h1>
                <p class="video-description">{{videoSelected.snippet.description}}</p>

            </div>


            <div class="video-list col-xl-4" [style.height.px]="height">
                <div *ngFor="#item of videos" >
                    <div class="card" (click)="selectVideo(item)">
                        <h6 class="card-title">{{item.snippet.title }} </h6>
                        <p class="card-text">
                            <img class="card-img-top  text-md-center" src="{{item.snippet.thumbnails.default.url}} "
                                 width="30%"
                                 alt="{{item.snippet.title  }}">
                            {{item.snippet.description }} </p>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
        </div>

    </div>
</div>
