:host{
  display: block;
}

.repository{

  margin-left: 60px;
}

.btn-repository {
  padding: 6px;

}

.repo-description .repo-about {
  min-height: 150px;
  padding: 40px;
  background-color: #E7E6E8;;
  color: #454355;

}

.repo-description .repo-about h1 {
  font-size: 34px;
}

.repo-description .repo-about p {
  font-weight: 300;
}

.repo-description .repo-about img {
  width:100px;
  margin-right: 20px;
  float:left;
}

.repo-description .repo-readme {
  padding: 15px;
  margin-top: 10px;
}



.repo-description .repo-info {
  font-size: 14px;
  padding: 10px;
  margin-top: 35px;
}

.repo-description .repo-info ul li{
  list-style: none;
}


.repo-description .repo-activity{
  margin-top: 15px;
  padding-bottom: 25px;
}


.repo-description .repo-activity ul li {
  padding-left: 25px;
  padding-right: 25px;
  list-style: none;
}

.repo-description .repo-dependencies{
  margin-top: 25px;
  font-size: 14px;
  padding-bottom: 25px;
}


.repo-description  h4{
  font-size: 20px;
  padding-top: 25px;
  font-weight: 600;
  margin-left: 25px;
}



.repo-description .repo-dependencies ul li{
  padding-left: 25px;
  padding-right: 25px;
  list-style: none;
}

.repo-description .repo-dependencies ul li span{
  color: #999;
  margin-right: 5px;
  margin-bottom: 5px;
}



.repo-box {
  margin-top: 10px;
  background: white;
}


.video-list {
  padding-top: 25px;
  overflow-y: scroll;
}


.card {
  height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.card:hover {
  cursor:pointer;
  background-color:#F9F9F9;
}

.card-img-top {
  width: 35%;
  height: 35%;
  float: left;
  vertical-align: middle;
  padding-right: 15px;
}

.card-title {
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.4;
}

.card-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
