:host{
  display: block;
}


.repo-description .repo-about {
    min-height: 150px;
    padding: 40px;
    background-color: #3B3948;
    color: white;
}

.repo-description .repo-about h1 {
    font-size: 34px;
}

.repo-description .repo-about p {
    font-weight: 300;
}

.repo-description .repo-about img {
    width:100px;
    margin-right: 20px;
    float:left;
}

.repo-description .repo-readme {
    padding: 40px;
    margin-top: 35px;

}

.repo-description .repo-info {
    font-size: 14px;
    padding: 10px;
    margin-top: 35px;
}

.repo-description .repo-info ul li{
    list-style: none;
}

.repo-description .repo-dependencies{
    margin-top: 25px;
    font-size: 14px;
    padding-bottom: 25px;
}


.repo-description .repo-dependencies h4{
    font-size: 20px;
    padding-top: 25px;
    font-weight: 600;
    margin-left: 25px;
}



.repo-description .repo-dependencies ul li{
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
}

.repo-description .repo-dependencies ul li span{
    color: #999;
    margin-right: 5px;
    margin-bottom: 5px;
}



.repo-description .repo-box {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
