<app-header [authenticated]="auth.authenticated" (signOut)="signOut()"></app-header>

<div class="info">
{{items | json}}

</div>
<!--<div class="info" *ngIf="item" *ngFor="#item of items | async">-->

    <!--<div class="col-md-12 title">-->
        <!--<img *ngIf="item.$key == 'img'" src="assets/images/logos/{{item.$value}}.png" width="125" />-->
        <!--<h1 *ngIf="item.$key == 'name'">{{item.$value}}</h1>-->
    <!--</div>-->



    <!--<div class="col-md-3 ">-->
        <!--{{item.$key}}-->
        <!--{{item.$value}}-->
    <!--</div>-->

<!--</div>-->


